// Style for the Pricing page

.pricing {
  .pricing-2.project-raised {
    padding-top: 0;
    margin-top: -10vh;

    [class*=col-] {
      padding-left: 0;
      padding-right: 0;

      @media screen and (min-width: 991px) {
        &:nth-of-type(2) {
          transform: scale(1.1);
          z-index: 1;
        }
      }

    }
  }
  .page-header-image {
    background-position: center top !important;
  }
}

// style for the landing page
.index-page {
    .page-header {
        height: 100vh;

        .container {
            > .content-center {
                &.brand {
                  .h1-seo,
                  h3 {
                    color: $white;
                    font-weight: 600;
                    text-transform: capitalize;
                    span {
                      font-weight: $font-weight-bold;
                    }
                }

                .h1-seo {
                  font-size: 5em;
                }
              }
            }
        }

        .category-absolute {
          position: absolute;
          top: 100vh;
          margin-top: -60px;
          padding: 0 15px;
          width: 100%;
          color: rgba(255,255,255,.5);
        }
    }

  .card-coins {
    padding-top: 100px;
  }

  .card {
    &.card-background[data-animation=true] {
      height: $card-background-height-sm;
    }
  }

  .section-navbars .navbar{
    margin-bottom: 20px;
  }
}

.index-page,
.login-page,
.reset-page {
  .squares {
    animation: move-left-right 1s infinite;
    @include linear-gradient($primary-states, $primary);
    position: absolute;
    transition: 0.5s ease-out;
    overflow: hidden;
    border-radius: 20%;
    &.square1 {
      animation: move-left-right 4s infinite;
      height: 300px;
      width: 300px;
      opacity: 0.5;
      left: 3%;
      top: -21%;
    }

    &.square2 {
      animation: move-left-right 6s infinite;
      height: 400px;
      width: 400px;
      opacity: 0.4;
      right: -5%;
      top: -12%;
    }

    &.square3{
      animation: move-left-right 5s infinite;
      height: 200px;
      width: 200px;
      opacity: 0.1;
      left: -5%;
      bottom: 0%;
    }

    &.square4 {
      animation: move-left-right 10s infinite;
      height: 100px;
      width: 100px;
      opacity: 0.9;
      right: 27%;
      top: 70%;
    }

    &.square5 {
      animation: move-left-right 6s infinite;
      height: 250px;
      width: 250px;
      opacity: 0.1;
      left: 32%;
      bottom: 29%;
    }

    &.square6 {
      animation: move-left-right 9s infinite;
      left: 10%;
      top: 35%;
      height: 80px;
      width: 80px;
      opacity: 0.8;
    }

    &.square7 {
      animation: move-left-right 3s infinite;
      width: 300px;
      height: 300px;
      right: -5%;
      bottom: 0%;
      opacity: 0.1;
    }
  }
}

.landing-page {
  overflow-x: hidden;

  .page-header {

    &::after {
      position: absolute;
      height: 100vh;
      width: 100%;
      opacity: .5;
    }
    .path {
      max-width: 65%;
      right: 0;
      top: 30px;
    }

    .path2 {
      position: absolute;
      opacity: 0.02;
      max-width: 41%;
      right: -60px;
      top: -50px;
    }

    .squares {
      top: 50%;
      right: 18%;
      max-height: 200px;
    }

    .wave {
      top: 45%;
      right: 30%;
      max-height: 90px;
    }

    .circle {
      top: 20%;
      right: 36%;
      max-height: 75px;
    }

    .triangle {
      top: 35%;
      left: 5%;
      max-height: 200px;
    }
  }

  .section:first-of-type {
    .path {
      left: -110px;
      max-width: 60%;
      top: -50px;
    }
  }
  .section:nth-of-type(2) {

    .path {
      left: auto;
      right: -250px;
      max-width: 70%;
      top: 0;
    }
    .path2 {
      position: absolute;
      opacity: 0.02;
      right: auto;
      left: 420px;
      max-width: 10%;
      top: 420px;
    }

    .path3 {
      position: absolute;
      opacity: 0.02;
      left: auto;
      right: 500px;
      max-width: 10%;
      top: -90px;
    }
  }
  .section:nth-of-type(3) {
    padding-top: 200px;

    .path {
      right: auto;
      left: 50px;
      max-width: 45%;
      top: 60px;
    }
  }
  .section:nth-of-type(4) {
    .path {
      max-width: 60%;
      right: 3%;
      top: 15%;
    }
    .path2 {
      position: absolute;
      opacity: 0.02;
      left: 25%;
      right: auto;
      max-width: 10%;
      top: 100px;
    }
  }
  .section:nth-of-type(5) {
    .path {
      max-width: 50%;
      left: 5%;
      top: 3%;
    }
  }

  .header{
      height: 100vh;
      position: relative;

      .container{
          padding-top: 26vh;
          color: $white;
          z-index: 2;
          position: relative;
      }

      .share{
          margin-top: 150px;
      }
      h1{
          font-weight: 600;
      }
      .title{
          color: $white;
      }
  }

    .section-team{
        .team .team-player img{
            max-width: 100px;
        }

        .team-player{
            margin-bottom: 15px;
        }
    }

    .section-contact-us{
        .title{
            margin-bottom: 15px;
        }

        .description{
            margin-bottom: 30px;
        }

        .input-group,
        .send-button,
        .textarea-container{
            padding: 0 40px;
        }

        .textarea-container{
            margin: 40px 0;
        }

        a.btn{
            margin-top: 35px;
        }
    }

    .section-safe {
      .icon {
        i {
          font-size: 21px;
        }
      }
    }

    .section-lg{
      overflow-x: hidden;
    }
}

// Style for the Chat Page

.chat-page {
  @media screen and (min-width: 991px) {
    .section {
      min-height: 100vh;
      max-height: 999px;
    }
  }

  .path {
    width: 70%;
    transform: rotate(90deg);
  }

  .list-group {
    .list-group-item:not(.active) {
      background: $transparent-bg;
    }

    .avatar {
      width: 40px;
      height: 40px;
    }

    .badge {
      padding: 4px;
      margin-top: 3px;
      display: inline-block;
      float: right;
    }

    .list-group-item {

      &.active {
        border-radius: $border-radius-lg;
      }

      &:nth-of-type(2) {
        border-top: 0;
      }
    }
  }

  .card {
    max-height: 70vh;
    overflow: auto;

    .card-header,
    .card-footer {
      background: $transparent-bg;
      display: flex;
    }

    .far {
      margin-right: 3px;
    }
  }

  .spinner {
    width: 70px;
    text-align: center;
    display: inline-block;

    > div {
      width: 7px;
      height: 7px;
      background-color: $gray-300;

      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
  }


@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
}




.about-us,
.account-settings,
.index-page,
.invoice-page,
.checkout-page,
.chat-page,
.landing-page,
.profile-page,
.register-page,
.login-page,
.reset-page,
.product-page,
.presentation-page {
  background-image: url("~assets/img/dots.png");
  background-size: contain;
}

.login-page .footer {
  position: relative;
}

@include media-breakpoint-down(md) {
  .section:nth-of-type(2) {
    .path {
      left: 10% !important;
    }
    .path2 {
      left: 20% !important;
    }
  }

  .info:first-of-type {
      padding-top: 10% !important;
  }

  .presentation-page .section-free-demo .github-background-container{

    position: absolute;
    right: -100px !important;
    top: -501px !important;
  }

  .contact-page .infos [class*=col-] {
    border-right: none;
  }

  .testimonials-1 .carousel-team .carousel-control-next {
    left: 42%!important;
  }

  .presentation-page .section-cards .card .card-footer .stats.stats-right{
    float: none;
    margin-top: 10px;
    margin-left: 10px;
  }

  .presentation-page .section-pricing .card-pricing ul.b-left:after{
    content: none;
  }
  .presentation-page .section-pricing .card-pricing ul.b-left li:after{
    content: none;
  }

  .index-page .table td .btn{
    margin-bottom: 5px;
  }
}

@include media-breakpoint-down(sm) {
  .card-login img{
    width: 70%;
  }

  .section:nth-of-type(2) {
    .path,
    .path2 {
      left: 0 !important;
    }
  }
  .section-coins {
    margin-top: 0 !important;
  }

  .section-icons{
    i{
      display: none;
    }
  }

  .contactus-3 .title{
    font-size: 4em;
  }

  .ecommerce-page .carousel-team .carousel-control-next, .carousel-team .carousel-control-prev{
    top: 100%;
    .oikos-icons{
      border: 1px solid $white;
      border-radius: 50%;
      padding: 5px;
    }
  }

  .carousel-team {
    margin-top: 0px;
  }

  .testimonials-1 .carousel-inner img{
    margin-top: 50px;
  }

  .ecommerce-page .card-product .card-image{
    text-align: center;
  }
  .testimonials-1 .carousel-team .carousel-control-next {
    left: 47%!important;
}

.presentation-page .info{
  margin-top: 50px !important;
}

.checkout-page .tab-content{
  margin-bottom: 50px;
}

.about-us .carousel-team .carousel-control-prev ,
 .about-us .carousel-team .carousel-control-next {
   top: 103%;
   .oikos-icons{
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 5px;
    }
  }

  .about-us .carousel-team .carousel-control-prev{

    left: 44%!important
  }

  .about-us .carousel-team .carousel-control-next{

    left: 55%!important
  }

}

@include media-breakpoint-down(xs) {
  .card-login {
    margin-top: 100px;
      img{
      width: 350px;
    }
  }

  .profile-page .page-header{
    max-height: unset;
  }

  .landing-page{
    .page-header{
      h1{
        margin-top: 100px;
      }
    }
  }

  .ecommerce-page .card .card-image{
    text-align: center;
  }

  .ecommerce-page .card-product .btn{
    margin-top: -25px;
  }

  .presentation-page .page-header .h1-seo{
    margin-top: 150px;
  }

  .presentation-page .slick-slider .slick-arrow{
    top: -5%;
    left: 38%;
  }

  .presentation-page .section.section-sections{
    padding-top: 50px;
  }

  .presentation-page .section-pricing .our-clients{
    display: none;
  }

  .error-page>.container .title {
    font-size: 9em;
  }

  .reset-page .card-login .card-header .card-title {
    font-size: 3.5em;
  }

  .checkout-page .nav-tabs {
    padding-right: 60px;
  }

  .about-us .page-header .title{
    margin-top: 200px;

  }
}

@include media-breakpoint-up(md) {
  .info:first-of-type {
    // padding-top: 60%;
    z-index: 2;
  }
}
